# top-most EditorConfig file
root = true

# Global
[*]
indent_size = 4
indent_style = space
max_line_length = 80
end_of_line = lf
insert_final_newline = true

# HTML
[*.html]
indent_size = 2
indent_style = space

# CSS
[*.css]
indent_size = 2
indent_style = space

# SCSS
[*.scss]
indent_size = 2
indent_style = space

# JavaScript
[*.js]
indent_size = 2
indent_style = space
