.pop-up {
  width: 100%;
  height: 100vh;

  // allows us to hide the pop-up while still being able to animate it
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;

  // above everything
  z-index: 3000;

  background-color: rgba(color(pure-black), 0.8);

  // transitions the popup background
  transition: opacity 300ms ease-in;

  &__content {
    width: 75%;

    // trying to give both sides the same height so centering is easier
    display: table;
    overflow: hidden;

    @include absoluteCenter;

    box-shadow: 0 2rem 4rem rgba(color(pure-black), 0.2);
    border-radius: 0.3rem;

    background-color: color(pure-white);

    // since you can't have multiple trasform properties we must repeat the transform that comes from the absoluteCenter mixin
    transform: translate(-50%, -50%) scale(0.25);
    opacity: 0;

    // allows the content to show up after the background is set (delayed)
    transition: all 500ms 250ms;
  }

  &__left {
    width: 33.3333%;

    display: table-cell;
    vertical-align: middle;
  }

  &__right {
    // allows the close button to be placed relative
    position: relative;

    width: 66.6666%;

    display: table-cell;
    vertical-align: middle;

    padding: 3rem 5rem;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;

    // space between button and text
    margin-bottom: 3rem;

    // splits the text
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid color(grey-dark-2);

    // allows auto hyphens
    hyphens: auto;
  }

  // OPEN STATES

  // when the #popUp is targeted (in the URL) the following will be applied
  &:target {
    opacity: 1;
    visibility: visible;
  }

  // when the pop-up is being targeted make the content appear (scale up)
  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      display: inline-block;

      position: absolute;
      top: 2.5rem;
      right: 4.5rem;

      line-height: 1;

      font-size: 4rem;
      color: color(grey-dark);
      text-decoration: none;

      // color effects
      transition: color 200ms ease;
    }

    &:hover {
      color: red;
    }

    &:active {
      color: color(primary);
    }
  }
}
