.story {
  width: 75%;

  // makes the parallelogram shape (twists the div clockwise)
  transform: skewX(-12deg);

  font-size: fontSize(default);

  margin: 0 auto;
  padding: 6rem;

  // adding the padding of the circle (it was moved left 3rem)
  padding-left: 9rem;

  background-color: rgba(color(pure-white), 0.6);
  box-shadow: 0 3rem 6rem rgba(color(pure-black), 0.1);

  border-radius: 0.3rem;

  &__shape {
    width: 15rem;
    height: 15rem;

    // allows caption to be positioned
    position: relative;

    // allows text to float around the shape
    float: left;

    transform: translateX(-3rem) skewX(12deg);

    clip-path: circle(50% at 50% 50%);

    // sets the text wrapping text as circle at the center (for it to work, it must set dimensions)
    shape-outside: circle(50% at 50% 50%);
  }

  &__image {
    height: 100%;

    // centers the girl on the shape and scales it up by 40%
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;

    transition: all 500ms ease;
  }

  &:hover &__image {
    // once hovering on the story, the image zooms out and blurs
    transform: translateX(-4rem) scale(1);

    // blurs the image and makes it darker by 20%
    filter: blur(0.3rem) brightness(80%);
  }

  &__text {
    transform: skewX(12deg);
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, 20%);
    opacity: 0;

    backface-visibility: hidden;

    font-size: 1.7rem;
    color: color(pure-white);
    text-transform: uppercase;
    text-align: center;

    transition: all 500ms ease;
  }

  &:hover &__caption {
    opacity: 1;

    // centers the text within the image shape
    transform: translate(-50%, -50%);
  }
}
