.container {
  max-width: 120rem;
  margin: 8rem auto;

  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.4rem;

  height: 7rem;
  background-color: #fff;

  border-bottom: var(--horizontal-line);
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);

  // allows the sidebar to take 18% of the container width
  flex: 0 0 18%;

  // allows the nav-items and the copyright to be spaced as far away as possible from each other (vertically)
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: #fff;

  // allows the hotel views to grow to fit the entire space left (100% - 18%)
  flex: 1;
}

.detail {
  display: flex;

  font-size: 1.4rem;

  padding: 4.5rem;

  background-color: var(--color-grey-light-1);

  border-bottom: var(--horizontal-line);
}

.description {
  flex: 0 0 60%;

  background-color: var(--color-pure-white);
  box-shadow: var(--shadow-light);

  padding: 3rem;
  margin-right: 4.5rem;
}

.user-reviews {
  // allows the user-reviews to extend the entire width (that is left by the description area)
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}
