@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

:root {
  --border-color: #bdc3c7;
  --date-color: #3498db;
  --header-color: #2c3e50;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  font-family: "Source Sans Pro", sans-serif;
  margin: 1.5rem 23rem;
}

.wrapper {
  border: 20px solid var(--border-color);
}

.article {
  margin: 20px;
}

.date {
  color: var(--date-color);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 0.45rem 0 0.2rem 0;
  font-size: 0.9em;
  margin: 1rem;
}

.header {
  color: var(--header-color);
  margin: 1rem;
  font-weight: 700;
}

.caption {
  border-left: 5px solid var(--border-color);
  padding-left: 0.35rem;
}

p {
  margin: 1rem;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 2.3rem;
}

@media (max-width: 1600px) {
  body {
    margin: 0.4rem 10rem;
  }
}

@media (max-width: 1400px) {
  body {
    margin: 0.2rem 9rem;
  }
}
@media (max-width: 1260px) {
  body {
    margin: 0.1rem 8rem;
  }
}

@media (max-width: 1024px) {
  body {
    margin: 0.05rem 5rem;
  }
}

@media (max-width: 768px) {
  body {
    margin: 0;
  }
}

@media (max-width: 400px) {
  body {
    margin: 0;
  }
}
