// center text
.u-center-text {
  text-align: center;
}

// margin-bottom
.u-margin-bottom-large {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

// margin-top
.u-margin-top-large {
  margin-top: 8rem;
}
.u-margin-top-extra-large {
  margin-top: 10rem;
}
