// Abstracts
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

// Base
@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

// Components
@import "components/grid";

// Layout

// Pages
@import "pages/home";

// Themes

// Vendors

// Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: inherit;
}

// Root
html {
  height: 100vh;

  //  1800 < width < +infinity
  @include mediaQuery(desktop-large) {
    font-size: 75%; // 1rem = 12px; 12px/16px = 75%
  }

  // 1200 < width <= 1800
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

  // 900 < width <= 1200
  @include mediaQuery(tablet-large) {
    font-size: 56.25%; // 1rem = 9px; 9px/16px = 56.25%
  }

  // 600 < width <= 900
  @include mediaQuery(tablet) {
    font-size: 50%; // 1rem = 8px; 8px/16px = 50%
  }

  // 0 < width <= 600
  @include mediaQuery(mobile) {
    font-size: 50%; // 1rem = 8px; 8px/16px = 50%
  }
}

// General
body {
  box-sizing: border-box;
}
