.realtors {
  background-color: $color-secondary;

  grid-column: col-start 7 / full-end;

  display: grid;
  grid-row-gap: 2rem;

  justify-content: center;
  align-content: center;

  padding: 3rem;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / -1;
  }

  h3 {
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-row-gap: 5vh;
    grid-column-gap: 2rem;

    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      // places the image and description next to each other for each of the top 3 realtors
      grid-template-columns: repeat(3, min-content max-content);
    }

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: min-content max-content;
    }
  }

  &__img {
    display: block;

    max-width: 7rem;

    border-radius: 50%;
  }

  &__sold {
    color: $color-grey-light-2;
    font-size: 1.3rem;

    text-transform: uppercase;

    margin-top: -3px;
  }
}