.row {
  max-width: grid(row-width);
  background-color: #eee;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: grid(horizontal-gutter);
  }

  @include clearfix;

  // Selects all columns (DRY - principle)
  [class^="col-"] {
    background-color: orangered;
    color: color(pure-white);
    text-align: center;
    float: left;

    &:not(:last-child) {
      margin-right: grid(vertical-gutter);
    }
  }

  // Columns
  .col-1-of-2 {
    width: calc((100% - #{grid(vertical-gutter)}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{grid(vertical-gutter)}) / 3);
  }

  .col-2-of-3 {
    width: calc(
      (2 * (100% - 2 * #{grid(vertical-gutter)}) / 3) + #{grid(vertical-gutter)}
    );
  }

  .col-1-of-4 {
    width: calc((100% - 3 * #{grid(vertical-gutter)}) / 4);
  }

  .col-2-of-4 {
    width: calc(
      (2 * ((100% - 3 * #{grid(vertical-gutter)}) / 4)) + #{grid(
          vertical-gutter
        )}
    );
  }

  .col-3-of-4 {
    width: calc(
      (3 * ((100% - 3 * #{grid(vertical-gutter)}) / 4)) +
        (2 * #{grid(vertical-gutter)})
    );
  }
}
