// Abstracts
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

// Base
@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

// Components
@import "components/button";
@import "components/composition";
@import "components/feature-box";
@import "components/card";

// Layout
@import "layout/header";
@import "layout/grid";

// Pages
@import "pages/home";

// Themes

// Vendors

// Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  // allows box-sizing to be inherited by elements (considered the best practice)
  box-sizing: inherit;
}

// Root configuration
html {
  height: 100vh;

  // assuming that the root font-size is 16px, we can calculate what is percentage results in a 10px root font-size ( 10/16 * 100) otherwise users who change their root font-size (for acessibility issues) would be disallowed to do it if we simply set it to a "fixed" 10px value (that's why percetanges work best); as a result, this allows us to convert between rem and px by just dividing by 10
  font-size: 62.5%;
}

// General settings
body {
  box-sizing: border-box;
}
