@import url("https://fonts.googleapis.com/css?family=Raleway:400,800");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  display: grid;
  grid-gap: 20px;
}

p {
  margin: 20px 40px;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 1.5em;
  text-transform: uppercase;
  padding-bottom: 20px;
  border-bottom: 2px solid #d1d1d1;
}

.photos {
  margin: 40px 40px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(3, 1fr);
}

.photos img {
  width: 100%;
}
