// Colors
$colors: (
  primary: #55c57a,
  primary-light: #7ed56f,
  primary-dark: #28b485,
  secondary-light: #ffb900,
  secondary-dark: #ff7730,
  tertiary-light: #2998ff,
  tertiary-dark: #5643fa,
  pure-white: #fff,
  pure-black: #000,
  grey-dark: #777,
  grey-light: #f7f7f7
);

// FOnts
$font-sizes: (
  default: 1.6rem
);

// Float grid
$grid: (
  row-width: 114rem,
  vertical-gutter: 6rem,
  horizontal-gutter: 8rem
);

// Breakpoints
$breakpoints: (
  desktop: 76.8rem
);
