// Colors
$colors: (
  primary: #55c57a,
  primary-light: #7ed56f,
  primary-dark: #28b485,
  secondary-light: #ffb900,
  secondary-dark: #ff7730,
  tertiary-light: #2998ff,
  tertiary-dark: #5643fa,
  pure-white: #fff,
  pure-black: #000,
  grey-dark: #777,
  grey-dark-2: #999,
  grey-dark-3: #333,
  grey-light-1: #f7f7f7,
  grey-light-2: #eee,
);

// Fonts
$font-sizes: (
  default: 1.6rem,
);

// Spacing
$spacing-dimensions: (
  border-radius-normal: 0.3rem,
  border-radius-large: 10rem,
  border-radius-small: 0.2rem,
);

// Float grid
$grid: (
  row-width: 114rem,
  vertical-gutter: 6rem,
  horizontal-gutter: 8rem,
  horizontal-gutter-small: 6rem,
);

// Breakpoints (values are calculated assuming default browser font is 16px; therefore, WANTEDpx/16px = RESULTem since media queries are not affected by root font size)
$breakpoints: (
  // 600px
    mobile: 37.5em,
  // 900px
    tablet: 56.25em,
  // 1200px
    tablet-large: 75em,
  // 1800px
    desktop-large: 112.5em
);
