.SideDrawer {
  box-sizing: border-box;

  width: 280px;
  max-width: 70%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  padding: 32px 16px;

  background-color: #fff;

  z-index: 200;

  transition: transform 300ms ease-out;

  @media only screen and (min-width: 500px) {
    display: none;
  }
}

.Open {
  transform: translateX(0);
}

.Closed {
  transform: translateX(-100%);
}

.Logo {
  height: 15%;
  margin-bottom: 16px;

  @media only screen and (max-width: 499px) {
    display: flex;
    justify-content: center;
  }
}
