// Colors
$colors: (
  pure-white: #fff,
  pure-black: #000
);

// Float grid
$grid: (
  row-width: 114rem,
  vertical-gutter: 6rem,
  horizontal-gutter: 8rem
);

// Breakpoints
$breakpoints: (
  mobile: 600px,
  tablet: 900px,
  tablet-large: 1200px,
  desktop-large: 1800px
);
